In [2]:
import pandas as pd
import cx_Oracle
data = pd.read_excel("operation pending  data.xlsx")
con = cx_Oracle.connect("username", "password", "HISTDB")
cursor = con.cursor()

In [47]:
# data.head(5)

In [14]:
create_table = """
CREATE TABLE test1_g (
       CUST_ID VARCHAR2(50) NOT NULL,
       REG_DATE VARCHAR2(50) NOT NULL,
       BRANCH_ID VARCHAR2(50) NOT NULL,
       CUST_NAME VARCHAR2(50) NOT NULL,
       NAME VARCHAR2(50) NOT NULL,
       FATHER_NAME VARCHAR2(50) NOT NULL,
       HOUSE_NAME VARCHAR2(50) NOT NULL,
        LOCALITY VARCHAR2(50) NOT NULL,
       PIN VARCHAR2(50) NOT NULL,
       GENDER VARCHAR2(50) NOT NULL,
       DATE_OF_BIRTH VARCHAR2(50) NOT NULL,
       REG_DATE1 VARCHAR2(50) NOT NULL,
       COUNTRY VARCHAR2(50) NOT NULL,
       PLEDGE_PHOTO VARCHAR2(50) NOT NULL,
         KYC_PHOTO VARCHAR2(50) NOT NULL,
       KYC_TYPE VARCHAR2(50) NOT NULL,
        PAN_FORM60 VARCHAR2(50) NOT NULL,
       MASKING_STATUS VARCHAR2(50) NOT NULL,
       MASKING_FAIL_STATUS VARCHAR2(50) NOT NULL
)    """

In [15]:
cursor.execute(create_table)

In [43]:

rec = data.astype(str).values.tolist()

for i in range(len(rec)):
    cursor.prepare("INSERT INTO test1_g VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17,:18,:19)")
    cursor.executemany(None,([rec[i]]))

con.commit()
con.close

In [ ]:
import cx_Oracle
import pandas
connection = cx_Oracle.connect("username", "password", "HISTDB")
sql = 'select * from test1_g'
df = pandas.read_sql(sql,con=connection)

In [ ]:
# import cx_Oracle
# con = cx_Oracle.connect("username", "password", "HISTDB")
# ver=con.version.split(".")
# print(ver)
# cur=con.cursor()
# cur.executemany("insert into test1_g(CUST_ID) values (:1)", lines)
# con.commit ()
# cur.close()